# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*$py.class
.pytest*

# lint
.ruff_cache/

# Distribution / packaging
*.build/
*.dist/
*.egg-info/
.eggs/
dist/
meh-release/
build/

# VSCode settings (recommended to exclude from repo)
.vscode/
.cursor/

# Downloadable assets
htmx.min.js

# Ignore runtime files
.runtime/

# The roadmap must stay secret :)
todo.md