# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*$py.class
.pytest*

# Distribution / packaging
*.build/
*.dist/
*.egg-info/
.eggs/

# VSCode settings (recommended to exclude from repo)
.vscode/

# Downloadable assets
htmx.min.js
