# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*$py.class
.pytest*

# Distribution / packaging
*.build/
*.dist/
*.egg-info/
.eggs/
nuitka-crash-report.xml

# VSCode settings (recommended to exclude from repo)
.vscode/

# Downloadable assets
htmx.min.js

# Ignore runtime files
.runtime/
