<div class="modal">
    <div class="modal-header">
        <h3>Cannot Save</h3>
        <button type="button" class="btn-icon modal-close" data-action="close-modal">
            <img src="/static/assets/icons/x-mark.svg" class="icon" alt="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning">
            <img src="/static/assets/icons/exclamation-triangle.svg" class="icon" alt="">
            <div>{{ reason }}</div>
        </div>
        {% if duplicate_names %}
        <pre class="duplicate-names-list">{{ duplicate_names | join('\n') }}</pre>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-action="close-modal">OK</button>
    </div>
</div>
